<div class="container">


  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center m-3 QT">My Quotes</h2> <hr> 
      
      <ul class="text-center d.flex justify-content-center align-items-center">
        <div class="card p-3 mt-5"  *ngFor="let quote of quotes; let i=index">
          <li >
            "{{quote.quote}}" 
          </li>
          <button class="btn btn-success button text-center d.flex justify-content-center align-items-center align-self-center m-3" (click)="toggleDetails(i)">more info</button>
          <app-quote-details *ngIf='quote.showDescription' [quote]="quote" (done)="completeQuote($event,i)">
          </app-quote-details>


        </div>
      </ul>
    </div>
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>

  </div>
</div>
