<div class="container-fluid">
  <h2 class="text-center">Create a new Goal</h2>
  <hr>
  <form (ngSubmit)="submitForm()" #quoteForm="ngForm">
    <div class="form-group">

      <label for="quote">Quote</label>
      <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote">  
      {{newQuote.quote}}display
    </div>
    <div class="form-group">

      <label for="author">Author</label>
      <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author">
      {{newQuote.author}}display
    </div>
    <div class="form-group">

      <label for="user">Name</label>
      <input type="text" required class="form-control" id="user" [(ngModel)]="newQuote.user" name="user">

    </div>

    <div class="form-group">

        <label for="user">Date</label>
        <input type="date" required class="form-control" id="user" [(ngModel)]="newQuote.user" name="date">
  
      </div>

    <!-- <div class="form-group">
      <label for="complete">Completion</label>
      <input type='date' id="complete" [(ngModel)]="newQuote.date" required>

    </div> -->
    <button type="submit" class="btn btn-success">Post Quote</button>
  </form>
  
</div>
